{% if status[ticket.status] is defined %}
<div class="shadow p-3 mb-3 bg-{{ status[ticket.status].cssClass }} text-{{ status[ticket.status].cssClass }} rounded mr-3 ml-3">
    <a href="{{ path('ticket_view', {id: ticket.id}) }}" class="row ticket-link">
        <div class="col-8">
            <p class="my-auto">{{ ticket.title }}</p>
        </div>
        <div class="col-4 border-perso-{{ status[ticket.status].cssClass }}">
            <p class="text-center my-auto text-{{ status[ticket.status].cssClass }}">{{ status[ticket.status].name }}</p>
        </div>
    </a>
</div>
{% endif %}
