{% extends 'base.html.twig' %}

{% block title %}Aidons les aidants{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/ticket/view.css') }}" rel="stylesheet"/>
{% endblock %}

{% block headForm %}détail de la demande{% endblock %}
{% block body %}
        <div class="card mt-5">
            <h5 class="card-header text-perso">{{ ticket.title }}</h5>
            <div class="card-body">
                <p class="card-text">{{ ticket.description }}</p>

                <hr />
                <h5 class="font-weight-bold">Informations complémentaires</h5>

                <div class="mb-3 row">
                    <div class="col-md-4">
                        {{ include('svg/_contact.svg.twig') }}
                    </div>

                    <div class="col-md-8" pl-5>
                        {% if ticket.postcode is not empty %}
                            <p class="card-text">Code postal: <span class="font-weight-bold">{{ ticket.postcode }}</span></p>
                        {% endif %}
                        {% if ticket.status == 1 %}
                          <p class="card-text">Contact: <span style="color:#00b894">
                            {% if ticket.contact matches "/^([-/+,;. ]?[0-9]{1}){6,12}$/" %}
                              <a href="tel:{{ ticket.contact }}">{{ ticket.contact }}</a>
                            {% elseif ticket.contact matches "/^[a-zA-Z0-9.!#$%&’*+=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" %}
                              <a href="mailto:{{ ticket.contact }}">{{ ticket.contact }}</a>
                            {% else %}
                              {{ ticket.contact }}
                            {% endif %}
                          </span></p>
                        {% endif %}
                        <p class="card-text">Créée le : {{ ticket.creationDate|date("d/m/Y", "Europe/Paris") }}</p>
                        <div class="d-flex flex-row mt-5">
                            {% if is_granted('ROLE_USER') == true %}
                                <a href="{{ path('ticket_view_user_list') }}" class="btn btn-perso mr-2">Retour à mes demandes</a>
                            {% endif %}
                                <a href="{{ path('ticket_list') }}" class="ml-5 btn btn-perso">Retour à la liste des demandes</a>
                        </div>
                    </div>
                </div>
                <div class="text-right pt-3" id="inappropriate-alert">
                    <em>Si vous considérez que cette demande est inappropriée, signalez-le à <a href="mailto:alaid.tech@gmail.com">alaid.tech@gmail.com</a>.</em>
                </div>
            </div>
        </div>
{% endblock %}
