{% extends 'base.html.twig' %}

{% block title %}Aidons les aidants{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h4>
            Chers aidants, chères aidantes,
        </h4>

        <p>
            Face à l'épidémie qui nous touche actuellement, le gouvernement a été contraint de mettre en place le confinement de la population française.
            Nous tenions à ce que vous sachez que nous serons toujours là et que l'équipe d'Alaid reste mobilisée afin de pouvoir vous fournir un service optimal.
            Et ce, afin que vous puissiez être là pour vos proches, et ainsi contribuer à votre façon à l'effort colossal et la détermination dont font preuves nos équipes de santé
        </p>

        <h6>
            /!\ Ce lien ne doit être partagé qu'à des proches de professionnel.le.s du corps médical que vous connaissez personnellement, on compte sur votre bouche à oreilles responsable /!\
        </h6>
    </div>

    <div class="container-sm">
        <div id="headForm">
            <h2 class="text-center text-uppercase pt-5">SE CONNECTER</h2>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <section>
            <p>
                ALAID a pour vocation d'aider les professionnel.le.s du corps médical investi.e.s dans la mobilisation nationale pour lutter contre le COVID-19.
                Conscient de leur charge de travail, cette application ne s'adresse pas à eux directement, mais à vous, leurs proches car vous connaissez vous aussi le quotidien difficile des soignant.e.s et disposez surement de plus de temps pour faire le lien avec des bénévoles citoyens cherchant à répondre à leurs besoins.
            </p>
            <p>
                En tant que proche d'"aidant.e.s", inscrivez-vous et connectez-vous pour ajouter des demandes de soignants de votre entourage à destination des bénévoles. Les bénévoles verront ses demandes sur une autre interface [URL front] et pourront s'organiser auprès de vous pour y répondre.
            </p>
            <p>
                Merci de ne partager l'adresse de ce site qu'à d'autres proches de professionnel.le.s du corps médical que vous connaissez vous-même personnellement.
            </p>
        </section>

        <form action="{{ path('user_login_check') }}" method="post">
            <div class="form-group">
                <input type="text" value="{{ last_username }}" name="username" id="username" class="form-control" placeholder="username" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="password" required>
            </div>

            <p>En cas d'oubli de vos identifiants, merci de contacter l'équipe technique.</p>

            <div class="row mt-3">
                <button class="btn btn-perso mx-auto" type="submit">VALIDER</button>
            </div>

            <input type="hidden" name="csrf_token"value="{{ csrf_token('authenticate') }}">
        </form>

        <p class="text-right mr-5">Pas encore inscrit ?
            <a href="{{ path('user_new') }}">S'inscrire</a>
        </p>
    </div>
{% endblock %}
