{% extends 'base.html.twig' %}

{% block title %}Aidons les aidants{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block alert %}
<p class="text-center pt-1 pb-1 mb-0 bg-secondary text-white">
    /!\ Ce lien ne doit être partagé qu'à des proches de professionnel.le.s du corps médical que vous connaissez personnellement, on compte sur votre bouche à oreilles responsable /!\
</p>
{% endblock %}
{% block headForm %}Accueil proches{% endblock %}
{% block body %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="mt-3">
            <p>
                ALAID a pour vocation d'aider les professionnel.le.s du corps médical investi.e.s dans la mobilisation nationale pour lutter contre le COVID-19.
                Conscient de leur charge de travail, cette application ne s'adresse pas à eux directement, mais à vous, leurs proches car vous connaissez vous aussi le quotidien difficile des soignant.e.s et disposez surement de plus de temps pour faire le lien avec des bénévoles citoyens cherchant à répondre à leurs besoins.
            </p>
            <p>
                En tant que proche d'aidant.e.s, inscrivez-vous et connectez-vous pour ajouter des demandes de soignants de votre entourage à destination des bénévoles. Les bénévoles verront ses demandes sur une autre interface <a href="https://aidonslesaidants.fr">aidonslesaidants.fr</a> et pourront s'organiser auprès de vous pour y répondre.
            </p>
        </div>

        <form action="{{ path('user_login_check') }}" method="post">
            <div class="form-group">
                <input type="text" value="{{ last_username }}" name="username" id="username" class="form-control" placeholder="Pseudonyme" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
            </div>

            <p>En cas d'oubli de vos identifiants, merci de contacter l'équipe technique.</p>

            <p class="text-right mr-5">Pas encore inscrit ?
                <a href="{{ path('user_register') }}">S'inscrire</a>
            </p>

            <div class="row mt-3 mb-0">
                <button class="btn btn-perso mx-auto" type="submit">VALIDER</button>
            </div>

            <input type="hidden" name="csrf_token"value="{{ csrf_token('authenticate') }}">
        </form>
{% endblock %}
