{% extends 'base.html.twig' %}

{% block title %}Aidons les aidants{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block alert %}
<p class="text-center pt-1 pb-1 mb-0 bg-secondary text-white">
    <i class="fas fa-exclamation-triangle"></i> Ce lien ne doit être partagé qu'à des proches de professionnel.le.s de santé que vous connaissez personnellement, on compte sur votre bouche à oreilles responsable <i class="fas fa-exclamation-triangle"></i>
</p>
{% endblock %}
{% block headForm %}Accueil proches{% endblock %}
{% block body %}

        <!-- Modal -->
        <div class="modal fade" id="videoGuide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog mt-5" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title mx-auto"><i class="fas fa-info-circle"></i> Guide de première utilisation</h5>
              </div>
              <div class="modal-body embed-responsive embed-responsive-16by9">
                <iframe src="https://drive.google.com/file/d/1_4vT4XWDuT7YFeNZM-w936xzxNMeviZ1/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
                <button id="closeVideo" type="button" class="btn btn-perso" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="mt-3">
            <p>
                ALAID a pour vocation d'aider les professionnel.le.s de santé investi.e.s dans la mobilisation nationale pour lutter contre le COVID-19.
                Conscient de leur charge de travail, cette application ne s'adresse pas à eux directement, mais à vous, leurs proches car vous connaissez vous aussi le quotidien difficile des soignant.e.s et disposez surement de plus de temps pour faire le lien avec des bénévoles citoyens cherchant à répondre à leurs besoins.
            </p>
            <p>
                En tant que proche d'aidant.e.s, inscrivez-vous et connectez-vous pour ajouter des demandes de soignants de votre entourage à destination des bénévoles. Les bénévoles verront ses demandes sur une autre interface <a target="_blank" href="https://aidonslesaidants.fr">aidonslesaidants.fr</a> et pourront s'organiser auprès de vous pour y répondre.
            </p>
        </div>

        <form action="{{ path('user_login_check') }}" method="post">
            <div class="form-group">
                <input type="text" value="{{ last_username }}" name="username" id="username" class="form-control" placeholder="Pseudonyme" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
            </div>

            <p>En cas d'oubli de vos identifiants, merci de contacter l'équipe technique.</p>

            <p class="text-right mr-5">Pas encore inscrit ?
                <a href="{{ path('user_register') }}">S'inscrire</a>
            </p>

            <div class="row mt-3 mb-0">
                <button class="btn btn-perso mx-auto" type="submit">VALIDER</button>
            </div>

            <input type="hidden" name="csrf_token"value="{{ csrf_token('authenticate') }}">
        </form>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      $(window).on('load',function(){
          $('#videoGuide').modal('show');
          // var time = 2 * ( 60 * 1000 );
          // setTimeout(function(){
          //   $('#closeVideo').removeAttr("disabled");
          // }, time);
      });
      $('#videoGuide').modal({
        backdrop: 'static',
        keyboard: false
      });
    </script>
{% endblock %}
